<div class="count-down-container">
  <div class="timer">
    <div class="timer__display">
      <div class="timer__display-part">
        <span id="months">{{month}}</span>
        <span class="timer__display-label">Hónap</span>
      </div>
      <div class="timer__display-part">
        <span id="weeks">{{week}}</span>
        <span class="timer__display-label">Hét</span>
      </div>
      <div class="timer__display-part">
        <span id="days">{{day}}</span>
        <span class="timer__display-label">Nap</span>
      </div>
      <div class="timer__display-part">
        <span id="hours">{{hour}}</span>
        <span class="timer__display-label">Óra</span>
      </div>
      <div class="timer__display-part">
        <span id="minutes">{{minute}}</span>
        <span class="timer__display-label">Perc</span>
      </div>
      <div class="timer__display-part">
        <span id="seconds">{{sec}}</span>
        <span class="timer__display-label">Mp</span>
      </div>
    </div>
  </div>
</div>